@import 'style-textured-background.css';
body {
	margin: 0px;
	padding: 0px;
	max-height: 100vh;
	max-width: 100vw;
	background-color: rgba(211, 222, 204, 1);
}
* {
	box-sizing: border-box;
}
.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	/* Style for antique book title */
	font-family: 'Quantico', sans-serif;
	font-size: 40px; /* Adjust the font size as needed */
	font-weight: bold; /* Make it bold for emphasis */
	text-align: center; /* Center the text horizontally */
	text-transform: uppercase; /* Uppercase the text */
	letter-spacing: 2px; /* Add some letter spacing for vintage look */
	margin: 20px 0; /* Add margin for spacing */
	color: rgb(223, 209, 10); /* Choose an antique or sepia color */
	text-shadow: 5px 5px 5px rgba(6, 6, 6, 0.9); /* Add a subtle shadow */
	border-bottom: 3px double darkolivegreen;
	border-radius: 100px;
}

.sketch-pad-container {
	display: flex;
	margin: 0px;
	width: 100vw;
	height: 90vh;
	text-align: center;
	/* center the contents */
	justify-content: space-evenly;
	align-items: stretch; /* Stretch items to have the same height */
	box-shadow: inset 40px 5px 260px rgba(0, 0, 0, 0.5);
	/* Add background */
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: calc (75% - 20px); /*width is hard coded */
	justify-content: space-evenly;
	overflow: hidden;
	box-shadow: inset 20px 5px 20px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	/* Add background- see style-textured-background.css files */
}

.info-container {
	display: flex;
	flex-direction: column;
	flex-basis: calc(25% - 10px);
	justify-content: space-evenly;
	margin-right: 10px;
	padding: 10px;
	box-shadow: inset 0px 2px 5px 0px rgba(47, 76, 3, 0.5);
	/* Add background- see style-textured-background.css files */

	border-radius: 20px;
}

.tools-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 3;
	margin: 0px;
	padding: 0px;
}
#result-container {
	display: flex;
	font-style: italic;
	font-weight: 700;
	background-color: rgba(163, 153, 11, 0.5);
	color: white;
	height: 10%;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}
label {
	font-style: italic;
	font-weight: 700;
	color: rgb(47, 56, 8);
	background-color: rgba(163, 153, 11, 0.5);
	height: 10%;
}
.drawing-tools {
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 3px rgba(47, 76, 3, 0.5) double;
	justify-content: space-evenly;
	align-items: center;
}
input {
	font-size: smaller;
	box-shadow: inset 20px 5px 20px rgba(0, 0, 0, 0.5);
}
input,
button {
	border-radius: 7px;
	text-align: center;
}
#draw-button {
	margin: 0px 7px 0px 0px;
	flex-grow: 1;
	flex-basis: content;
}
#erase-button {
	margin: 0px 0px 0px 7px;
	flex-grow: 1;
	flex-basis: content;
}

#submit-button {
	background-color: rgba(115, 160, 88, 0.9);
	width: 40%;
}

#draw-button {
	background-color: rgba(14, 104, 101, 0.9);
	color: white;
}
#erase-button {
	background-color: rgba(127, 36, 36, 0.9);
	color: white;
}

.box {
	margin: 0px;
	padding: 0px;
	/* border: 0.001px rgb(255, 255, 255) solid; */
	/* flex: 1 1 25px; */
}

/* Styling completed on 26/09/2023. Looks good. Looks like an antique art book */
