.info-container {
	background-color: rgb(153, 134, 110); /* A warm, off-white color */
}
.info-container {
	background-image: linear-gradient(
			45deg,
			transparent 10%,
			rgba(0, 0, 0, 0.03) 10%,
			rgba(0, 0, 0, 0.03) 20%,
			transparent 20%,
			transparent 30%,
			rgba(0, 0, 0, 0.03) 30%,
			rgba(0, 0, 0, 0.03) 40%,
			transparent 40%,
			transparent 50%,
			rgba(0, 0, 0, 0.03) 50%,
			rgba(0, 0, 0, 0.03) 60%,
			transparent 60%,
			transparent 70%,
			rgba(0, 0, 0, 0.03) 70%,
			rgba(0, 0, 0, 0.03) 80%,
			transparent 80%,
			transparent 90%,
			rgba(0, 0, 0, 0.03) 90%,
			rgba(0, 0, 0, 0.03) 100%
		),
		linear-gradient(
			45deg,
			transparent 10%,
			rgba(0, 0, 0, 0.03) 10%,
			rgba(0, 0, 0, 0.03) 20%,
			transparent 20%,
			transparent 30%,
			rgba(0, 0, 0, 0.03) 30%,
			rgba(0, 0, 0, 0.03) 40%,
			transparent 40%,
			transparent 50%,
			rgba(0, 0, 0, 0.03) 50%,
			rgba(0, 0, 0, 0.03) 60%,
			transparent 60%,
			transparent 70%,
			rgba(0, 0, 0, 0.03) 70%,
			rgba(0, 0, 0, 0.03) 80%,
			transparent 80%,
			transparent 90%,
			rgba(0, 0, 0, 0.03) 90%,
			rgba(0, 0, 0, 0.03) 100%
		);
	background-size: 40px 40px;
}
