body {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
	padding: 2%;
	width: 100vw;
	height: 100vh;
	border: 2px red solid;
	flex-wrap: wrap;
	text-align: center;
	/* center the contents */
	justify-content: center;
	align-items: center;
}
* {
	box-sizing: border-box;
}

.grid-container,
.info {
	border: 2px black dotted;
}

.grid-container {
	display: flex;
	flex: 1 1;
}

.info {
	display: flex;
	justify-content: space-between;
}

.box {
	border: 2px green solid;
	flex: 1;
}
